body {
  font-family: 'questa-sans', sans-serif;
  font-size: 20px;
  background-color: #fcfcfc;
  color: #212121;
}

.o-heading {
  font-family: 'questa-sans', serif;
  font-weight: 300;
  margin-bottom: 60px;
}

  .o-heading--flush {
    margin-bottom: 0;
  }

  .o-heading--main {
    font-weight: 500;
  }

.o-content {
  padding: 0 60px;
  max-width: 1300px;
  margin: 0 auto 120px;
}

  .o-content--initial {
    margin-bottom: 60px;
    margin-top: 60px;
  }

  .o-content--centered {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .o-content--divider {
    padding-top: 80px;
    position: relative;
  }

  .o-content--divider:before {
    border-top: 1px solid #ddd;
    content: '';
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
  }

.o-paragraph {
  line-height: 1.5;
  margin-bottom: 30px;
  max-width: 80ex;
}

  .o-paragraph--hint {
    font-style: italic;
  }

  .o-paragraph--disclaimer {
    font-size: 13px;
  }

.c-header__heading {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}

.c-header__heading--small {
  font-size: 30px;
}

.c-photo-container {
  display: flex;
  flex-direction: row;
}

.c-photo {
  position: relative;
  margin: 2px;
  flex: 1;
  transition: 250ms ease-in-out;
}

.c-photo:hover {
  transform: scale(1.05);
  z-index: 1;
}

  .c-photo__image {
    object-fit: cover;
    min-height: 60vh;
    max-height: 800px;
    width: 100%;
  }

  .c-photo__caption-overlay {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: 250ms ease-in-out;
    width: 100%;
  }

  .c-photo:hover .c-photo__caption-overlay {
    opacity: 1;
  }

  .c-photo__caption {
    font-family: 'questa-sans', serif;
    font-size: 30px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    margin-bottom: 50%;
    transition: 250ms ease-in-out;
    transform: translateY(-15px);
  }

  .c-photo:hover .c-photo__caption {
    transform: translateY(0);
  }

  .c-photo__prices {
    color: white;
    transition: 500ms ease-in-out;
    transition-delay: 250ms;
    opacity: 0;
  }

  .c-photo:hover .c-photo__prices {
    opacity: 1;
  }

  .c-photo__price-heading {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .c-photo__price-format {
    color: white;
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
  }

  .c-photo__link {
    bottom: 30px;
    color: white;
    display: block;
    font-size: 11px;
    position: absolute;
    width: 100%;
  }

.c-articles-list {
  margin-left: 0;
  padding-left: 0;
}

  .c-articles-list__item {
    list-style: none;
  }
