<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta property="og:site_name" content="LJUS"/>
  <meta property="og:title" content="LJUS"/>
  <meta property="og:url" content="http://www.ljus.photo/"/>
  <meta property="og:type" content="website"/>
  <meta property="og:description" content="LJUS - a photo project by Oscar Ekholm"/>
  <meta property="og:image" content="http://ljus.photo/assets/uetliberg.jpg"/>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <title>LJUS</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/xkm2afs.css">
  <link href="css/styles.css" rel="stylesheet">
</head>
<body>
  <header class="o-content o-content--initial">
    <h1 class="c-header__heading o-heading o-heading--flush o-heading--main">
      Ljus
    </h1>
  </header>

  <section class="o-content c-photo-container">
    <figure class="c-photo">
      <img class="c-photo__image" src="assets/uetliberg.jpg" />

      <figcaption class="c-photo__caption-overlay">
        <div>
          <div class="c-photo__caption">
            Uetliberg
          </div>

          <div class="c-photo__prices">
            <h2 class="o-heading c-photo__price-heading">Order</h2>
            <a href="mailto:oscar@ljus.photo?subject=Order for Uetliberg 30x40&body=Hi!\nI want to buy your print Uetliberg in 30x40. Send it to:" class="c-photo__price-format">30x40 - 150 SEK</a>
            <a href="mailto:oscar@ljus.photo?subject=Order for Uetliberg 50x70&body=Hi!\nI want to buy your print Uetliberg in 50x70. Send it to:" class="c-photo__price-format">50x70 - 200 SEK</a>
            <a href="mailto:oscar@ljus.photo?subject=Order for Uetliberg 70x100&body=Hi!\nI want to buy your print Uetliberg in 70x100. Send it to:" class="c-photo__price-format">70x100 - 400 SEK</a>
          </div>
        </div>

        <a class="c-photo__link" href="https://unsplash.com/photos/jWqi1-VoTNA" target="_blank">Download for free from Unsplash.com</a>
      </figcaption>
    </figure>
    <figure class="c-photo">
      <img class="c-photo__image" src="assets/uppsala-lines.jpg" />

      <figcaption class="c-photo__caption-overlay">
        <div>
          <div class="c-photo__caption">
            Uppsala Lines
          </div>

          <div class="c-photo__prices">
            <h2 class="o-heading c-photo__price-heading">Order</h2>
            <a href="mailto:oscar@ljus.photo?subject=Order for Uppsala Lines 30x40&body=Hi!\nI want to buy your print Uppsala Lines in 30x40. Send it to:" class="c-photo__price-format">30x40 - 150 SEK</a>
            <a href="mailto:oscar@ljus.photo?subject=Order for Uppsala Lines 50x70&body=Hi!\nI want to buy your print Uppsala Lines in 50x70. Send it to:" class="c-photo__price-format">50x70 - 200 SEK</a>
            <a href="mailto:oscar@ljus.photo?subject=Order for Uppsala Lines 70x100&body=Hi!\nI want to buy your print Uppsala Lines in 70x100. Send it to:" class="c-photo__price-format">70x100 - 400 SEK</a>
          </div>
        </div>

        <a class="c-photo__link" href="https://unsplash.com/photos/tzfDQCBZcRQ" target="_blank">Download for free from Unsplash.com</a>
      </figcaption>
    </figure>
    <figure class="c-photo">
      <img class="c-photo__image" src="assets/industry-town.jpg" />

      <figcaption class="c-photo__caption-overlay">
        <div>
          <div class="c-photo__caption">
            Industry Town
          </div>

          <div class="c-photo__prices">
            <h2 class="o-heading c-photo__price-heading">Order</h2>
            <a href="mailto:oscar@ljus.photo?subject=Order for Industry Town 30x40&body=Hi!\nI want to buy your print Industry Town in 30x40. Send it to:" class="c-photo__price-format">30x40 - 150 SEK</a>
            <a href="mailto:oscar@ljus.photo?subject=Order for Industry Town 50x70&body=Hi!\nI want to buy your print Industry Town in 50x70. Send it to:" class="c-photo__price-format">50x70 - 200 SEK</a>
            <a href="mailto:oscar@ljus.photo?subject=Order for Industry Town 70x100&body=Hi!\nI want to buy your print Industry Town in 70x100. Send it to:" class="c-photo__price-format">70x100 - 400 SEK</a>
          </div>
        </div>

        <a class="c-photo__link" href="https://unsplash.com/photos/V8uTZmfaEpI" target="_blank">Download for free from Unsplash.com</a>
      </figcaption>
    </figure>
  </section>

  <section class="o-content o-content--centered o-content--divider">
    <header>
      <h1 class="o-heading c-header__heading c-header__heading--small">About Ljus</h1>
    </header>

    <p class="o-paragraph">
      Ljus is a photo project by Oscar Ekholm, software developer at <a href="https://getflowbox.com">Flowbox</a> by day, photographer by night. Not really, but you get the point.
    </p>

    <p class="o-paragraph">
      His photography work can be found on <a href="https://www.instagram.com/ljus.photo/">Instagram</a> as well as on <a href="https://unsplash.com/@ljus">Unsplash.com</a>, the world's most generous photography community.
    </p>

    <p class="o-paragraph o-paragraph--hint">
      If you like my work and want a (signed) print, give me a holler in my Instagram DMs or through my email <a href="mailto:oscar@ljus.photo">oscar@ljus.photo</a> and I'll hook you up. 🦉<br /><br />
      All prints are printed on Hahnemühle Fine Art paper with white borders.
    </p>

    <p class="o-paragraph o-paragraph--hint o-paragraph--disclaimer">
      Disclaimer: If you find my work for sale elsewhere, say, from a major Swedish interior design store, please think of supporting the original creator before buying.
    </p>
  </section>

  <section class="o-content o-content--centered o-content--divider">
    <header>
      <h1 class="o-heading c-header__heading c-header__heading--small">Articles</h1>
    </header>

    <ul class="c-articles-list">
      <li class="c-articles-list__item">
        2019-03-02: <a href="https://medium.com/@ljus/on-lagerhaus-and-content-creation-in-the-digital-era-4dbb39e941ad">On Lagerhaus and Content Creation in the Digital Era</a>
      </li>
    </ul>
  </section>

  <section class="o-content o-content--centered o-content--divider">
    <p class="o-paragraph o-paragraph--hint o-paragraph--disclaimer">
      Copyright &copy; Oscar Ekholm, 2019
    </p>
  </section>
</body>
</html>
